body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  display: block;
  text-align: c;
  margin: 0;
  flex-wrap: wrap;
  background: aqua;
}

section {
  display: block;
  width: 300px;
  margin: 0 auto;
}

h1, h2 {
  display: block;
  margin: 10px;
}

button {
  display: block;
  width: 280px;
  padding: 10px;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.top-bar {
  width: 100%;
  display:block;
}

.left {
  text-align: left;
  width: 300px;
  display: block;
  float: left;
}

.right {
  text-align: right;
  width: 200px;
  float: right;
  display: block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

